#cloud-config
write_files:
  - path: /usr/local/sbin/autographs-bootstrap-runtime.sh
    owner: root:root
    permissions: "0755"
    encoding: b64
    content: ${bootstrap_script_b64}
runcmd:
  - [bash, -lc, "DEPLOY_USER='${deploy_user}' DEPLOY_PATH='${deploy_path}' /usr/local/sbin/autographs-bootstrap-runtime.sh"]
