:80, http://{$AUTOGRAPHS_DOMAIN} {
	redir https://{host}{uri} permanent
}

{$AUTOGRAPHS_DOMAIN} {
	encode zstd gzip

	@operator path /api/operator /api/operator/*
	respond @operator 404

	handle /admin/api/* {
		reverse_proxy autographs-controller:8080
	}

	handle /admin {
		redir /admin/ permanent
	}

	handle_path /admin/* {
		root * /srv/autographs/admin
		try_files {path} /index.html
		file_server
	}

	root * /srv/autographs/static/current
	file_server

    handle_errors {
        @notFound expression `{http.error.status_code} == 404`
        rewrite @notFound /404.html
        file_server
    }
}

http://:8081 {
	root * /srv/autographs/static/current
	file_server

    handle_errors {
        @notFound expression `{http.error.status_code} == 404`
        rewrite @notFound /404.html
        file_server
    }
}
