AUTOGRAPHS_CONTROLLER_DB_PROVIDER={{ autographs_deploy_controller_db_provider }}
AUTOGRAPHS_CONTROLLER_MEDIA_STORAGE_PROVIDER={{ autographs_deploy_controller_media_storage_provider }}
AUTOGRAPHS_CONTROLLER_LOCAL_MEDIA_ROOT={{ autographs_deploy_controller_local_media_root }}
AUTOGRAPHS_STATIC_PROMOTED_RELEASE_RETAIN_COUNT={{ autographs_deploy_static_promoted_release_retain_count }}
AUTOGRAPHS_STATIC_FAILED_CANDIDATE_RETAIN_COUNT={{ autographs_deploy_static_failed_candidate_retain_count }}
OCI_AUTH_MODE=instance_principal
