AUTOGRAPHS_CONTROLLER_DB_PROVIDER={{ autographs_deploy_controller_db_provider }}
AUTOGRAPHS_CONTROLLER_MEDIA_STORAGE_PROVIDER={{ autographs_deploy_controller_media_storage_provider }}
AUTOGRAPHS_CONTROLLER_LOCAL_MEDIA_ROOT={{ autographs_deploy_controller_local_media_root }}
OCI_AUTH_MODE=instance_principal
