AUTOGRAPHS_CONTROLLER_DB_PROVIDER={{ autographs_deploy_controller_db_provider }}
AUTOGRAPHS_CONTROLLER_MEDIA_STORAGE_PROVIDER={{ autographs_deploy_controller_media_storage_provider }}
AUTOGRAPHS_CONTROLLER_LOCAL_MEDIA_ROOT={{ autographs_deploy_controller_local_media_root }}
OCI_S3_ENDPOINT={{ lookup('env', 'OCI_S3_ENDPOINT') | default('', true) }}
OCI_S3_ACCESS_KEY={{ lookup('env', 'OCI_S3_ACCESS_KEY') | default('', true) }}
OCI_S3_SECRET_KEY={{ lookup('env', 'OCI_S3_SECRET_KEY') | default('', true) }}
